<legend>Register to <span class="blue">MyApp</span></legend>
    <div class="body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      	<div class="control-group control-inline">
          <%= f.label :first_name %>
          <%= f.text_field :name, :class => "input-medium" %>
      	</div>
      	<!-- last name -->
      	<div class="control-group control-inline">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :class => "input-medium" %>
      	</div>
      	<!-- username -->
      	<%= f.label :username %>
        <%= f.text_field :username, :class => "input-huge"  %>
      	<!-- email -->
      	<%= f.label :email %>
      	<%= f.text_field :email, :class => "input-huge"  %>
      	<!-- password -->
      	<%= f.label :password %>
      	<%= f.password_field :password, :class => "input-huge"  %>

        <!-- password confirmation -->
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "input-huge"  %>
    </div>

    <div class="footer">
      <label class="checkbox inline">
        <%= f.check_box :remember_me, :id => "inlineCheckbox1" %> I agree to something I will never read
      </label>
      <%= f.submit "Register", :class => "btn btn-success" %>
    </div>
<% end %>
